.masthead{
    min-height: 36em;
    width:100%;
    position: relative;
    background-image: url(../img/full-bg.jpg);
    align-items: flex-end;
    background-size: cover;
    padding-bottom:0em;
    background-position: center;
    @media(min-width:1920px){
        min-height: 40em;
    }

    &:after{
        content: '';
        background-image: url(../img/header_cover.svg);
        width: 180px;
        height: 180px;
        position: absolute;
        background-size: contain;
        background-repeat: no-repeat;
        right: 50%;
        top:-80px;
        transform: rotate(180deg);
        @media(max-width:767px){
            width:150px;
            height: 150px;
            right:30px;
        }
    }


    &-cover{
        position: absolute;
        width:100%;
        height:100%;
        z-index: -1;
        left:0;
        right:0;
        top:0;
        bottom:0;
        @media(max-width:767px){
            object-fit: cover;
        }
    }
  
    &-info{
        &--logo{
            
            overflow: hidden;
            @media(max-width:767px){
                max-width: 162px;
                margin-bottom:1em;
                margin-left: 15px;
                margin-right: 15px;
            }
            img{
                max-width:100%;
                border-radius: 4px;
            }
        }
        &--details{
               padding-left: 15px;
               padding-right: 15px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                position: relative;

     
            .title{
                font-weight: 800;
                font-size: 30px;
                color: #174895;
                @media(max-width:767px){
                    font-size: 20px;
                }
              
            }
            .hashtags{
                opacity:0.8;
                margin-bottom:0;
                @media(max-width:767px){
                    margin-top:0.5em;
                 
                }
            }
            .reviews{
                font-size: 16px;
                vertical-align: middle;
                opacity: 0.8;
            }
            .kicon{
                font-size: 24px;
                vertical-align: middle;
            }
        }


        @media(max-width:767px){
            flex-direction: column;
            padding-top: 2em;
        }

    }

    .star-ratings-css {
        position: relative;

      span{
          color:#F8C90C;
      }
        @media(max-width:992px){
            margin-top:0.5em;
            margin-bottom:0.5em;
        }
    
       
      }
      
.form-group{
    .pin{
        position: absolute;
        right:15px;
        top:12px;
        color:#174895;
        
    }
    .form-control{
        border-color: rgba(0, 98, 162, 0.36);
        padding-top:0.7em;
        padding-bottom:0.7em;
        &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
            color: rgba(0, 98, 162, 0.5);
            opacity: 1; /* Firefox */
          }
          
          &:-ms-input-placeholder { /* Internet Explorer 10-11 */
            color: rgba(0, 98, 162, 0.5);
          }
          
          &::-ms-input-placeholder { /* Microsoft Edge */
            color: rgba(0, 98, 162, 0.5);
          }

        
    }
    .icon-search-line{
        color:rgba(0, 98, 162, 0.9) !important;
      }
}
}

.categories-section{
    background-image: linear-gradient(to top, #ffffff, rgba(255, 255, 255, 0));
}